*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;

}

.container{
    background-image: linear-gradient(to bottom right, #753682, #bf2e34 100%);
    height: 100vh;
    position: relative;

}

.inner-container{
    border: 0.1rem solid blanchedalmond;
    border-radius: 0.5rem;
    box-shadow: #da0f7d;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75%;
    height: 65%;
    display: flex;
}

.player{
    position: relative;
    border:0.1rem solid blanchedalmond ;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.player--0{
    background-color: blanchedalmond;
    border-radius: 0.5rem 0 0 0.5rem;
}

.player--1{
    background-color: blanchedalmond;
    filter: blur(0.1rem);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.name{
    font-size: 3rem;
    font-weight: 20rem;
}

.score{
    font-size: 3.5rem;
    position: absolute;
    top: 10rem;
    color: #da0f7d;
}

.current{
    border: 0.1rem solid #da0f7d;
    border-radius: 0.2rem;
    background-color:#da0f7d;
    width: 15rem;
    height: 6rem;
    position: relative;
    top: 25rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: aliceblue;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    height: 65%;

    
}

.game{
    border: 0.05rem solid white;
    background-color: white;
    border-radius: 4rem;
    width: 10rem;
    height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    position: relative;
    top: -15rem;
    cursor: pointer;
    padding: 0.3rem;
}

.dice{
    
    height: 5rem;
    width: 5rem;
    position: relative;
    top: -10rem;

}



.roll-dice{
    border: 0.05rem solid white;
    background-color: white;
    border-radius: 4rem;
    width: 9rem;
    height: 2rem;
    text-align: center;
    position: relative;
    top: 6rem;
    cursor: pointer;
    padding: 0.5rem;
}

.hold{
    padding: 0.5rem;
    border: 0.05rem solid white;
    background-color: white;
    border-radius: 4rem;
    width: 7rem;
    height: 2rem;
    text-align: center;
    position: relative;
    top: 8rem ;
    cursor: pointer;
}

  .hidden{
    display: none;
}  